APP_NAME=CustomShop
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=4

BROADCAST_CONNECTION=null
CACHE_STORE=array
MAIL_MAILER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=shop_test
DB_USERNAME=root
DB_PASSWORD=

PULSE_ENABLED=false
TELESCOPE_ENABLED=false
NIGHTWATCH_ENABLED=false

PAYMENT_DEFAULT_PROVIDER=1
SHIPMENT_DEFAULT_PROVIDER=1

# 綠界金流（測試環境 / Stage）
ECPAY_MERCHANT_ID=3002599
ECPAY_HASH_KEY=spPjZn66i0OhqJsQ
ECPAY_HASH_IV=hT5OJckN45isQTTs
ECPAY_PAYMENT_ACTION_URL=https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5
ECPAY_RETURN_URL=http://localhost/api/payment-callbacks/ecpay
ECPAY_PAYMENT_INFO_URL=http://localhost/api/payment-callbacks/ecpay
ECPAY_CLIENT_REDIRECT_URL=http://localhost/orders
ECPAY_CLIENT_BACK_URL=http://localhost/orders

# 綠界物流（測試環境 / Stage）
ECPAY_LOGISTICS_MERCHANT_ID=2000933
ECPAY_LOGISTICS_HASH_KEY=XBERn1YOvpM9nfZc
ECPAY_LOGISTICS_HASH_IV=h1ONHk4P4yqbl5LK
ECPAY_LOGISTICS_CREATE_ACTION_URL=https://logistics-stage.ecpay.com.tw/Express/Create
ECPAY_LOGISTICS_CREATE_SERVER_REPLY_URL=http://localhost/api/shipment-callbacks/ecpay
ECPAY_LOGISTICS_QUERY_ACTION_URL=https://logistics-stage.ecpay.com.tw/Helper/QueryLogisticsTradeInfo/V5
ECPAY_LOGISTICS_HOME_LOGISTICS_SUB_TYPE=TCAT
ECPAY_LOGISTICS_SENDER_NAME="鈞弘電子商務"
ECPAY_LOGISTICS_SENDER_CELL_PHONE=0911222333
ECPAY_LOGISTICS_STORE_MAP_ACTION_URL=https://logistics-stage.ecpay.com.tw/Express/map
ECPAY_LOGISTICS_STORE_MAP_SERVER_REPLY_URL=http://localhost/api/shipment-store-map-callbacks/ecpay
ECPAY_LOGISTICS_STORE_MAP_CLIENT_REDIRECT_URL=http://localhost/checkout
ECPAY_LOGISTICS_STORE_MAP_REQUEST_TTL_MINUTES=30
